<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-2.5.xsd">
    <context:annotation-config />

    <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>

    <bean id="dao" class="ru.sbt.bit.ood.hw1.dao.TradesDAO"/>

    <bean id="trade" class="ru.sbt.bit.ood.hw1.Trade" scope="prototype">
        <constructor-arg type="ru.sbt.bit.ood.hw1.values.TradeFieldValues" ref="tradefieldvalues"/>
    </bean>

    <bean id="job" class="ru.sbt.bit.ood.hw1.job.TradesJob">
    </bean>

    <bean id="csvparser" class="ru.sbt.bit.ood.hw1.parsers.CsvParser">
    </bean>

    <bean id="filedownloader" class="ru.sbt.bit.ood.hw1.downloaders.FileDownloader">
    </bean>

    <bean id="tradefieldvalues" class = "ru.sbt.bit.ood.hw1.values.TradeFieldValues">
    </bean>

    <bean id="updater" class="ru.sbt.bit.ood.hw1.updaters.TradesUpdater">
        <constructor-arg type="ru.sbt.bit.ood.hw1.dao.TradesDAO" ref="dao"/>
    </bean>

</beans>